
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Workshop &mdash; Workshops</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Robotics Workshops" />



  	
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<%= favicon_link_tag 'favicon.ico' %>
	<link rel="shortcut icon" href="favicon.ico">
	<link href="/favicon.ico" type="image/x-icon" rel="icon" />
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	
	<%= render 'allcss' %>
	<%= render 'sidemenu' %>

	</head>
	

	<%= render 'navbar' %>

	<h1>THis is HACKING homepage.</h1>

	

	<%= render 'footer' %>
	


	
	<%= render 'alljs' %>
	</body>
</html>
