
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>FUSION CONCLAVE &mdash; Workshops</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Robotics Workshops" />



  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<%= favicon_link_tag 'favicon.ico' %>
	<link rel="shortcut icon" href="favicon.ico">
	<link href="/favicon.ico" type="image/x-icon" rel="icon" />
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	
	<%= render 'allcss' %>


	</head>
	<body>
	<header role="banner" id="fh5co-header">
			<div class="container">
				<!-- <div class="row"> -->
			    <nav class="navbar navbar-default">
		        <div class="navbar-header">
		        	<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		         <a class="navbar-brand" href="#">FusionConclave</a> 
		        </div>
		        <div id="navbar" class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
		            <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
		            <li><a href="#" data-nav-section="services"><span>Services</span></a></li>
		            <li><a href="#" data-nav-section="testimonials"><span>Testimonials</span></a></li>
		            <li><a href="#" data-nav-section="work"><span>Work</span></a></li>
		            <li><a href="#" data-nav-section="about"><span>About</span></a></li>
		            <li><a href="#" data-nav-section="contact"><span>Contact</span></a></li>
		          </ul>
		        </div>
			    </nav>
			  <!-- </div> -->
		  </div>
	</header>

	<section id="fh5co-home" data-section="home" style="background-image: url(/assets/slider4.jpg);" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate">INTERESTED?</h1>
							<h2 class="to-animate">in learning</h2>
							<h1 class="to-animate">Robotics and various other courses?</h1>
							<h2 class="to-animate">Then you are on the right page!!</h2>
							<h1 class="to-animate">[ &nbsp;FOLLOW  &nbsp;]&nbsp; your  &nbsp;[&nbsp;  INTEREST &nbsp;]</h1>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>

	<section id="fh5co-intro">
		<div class="container">
			<div class="row row-bottom-padded-lg">
				<div class="fh5co-block to-animate" style="background-image: url(/assets/img_7.jpg);">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						<i class="fh5co-intro-icon icon-bulb"></i>
						<h2>Plan</h2>
						<p>Wanna get started? We provide you with several courses you want to learn.</p>
						<p><%= link_to "Workshops", welcome_workshop_path, :class => "btn btn-primary" %></p>



					</div>
				</div>
				<div class="fh5co-block to-animate" style="background-image: url(/assets/img_8.jpg);">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						<i class="fh5co-intro-icon icon-wrench"></i>
						<h2>Develop</h2>
						<p>Practice makes man perfect. Just a saying, but can do wonders for you.</p>
						<p><%= link_to "Join us", welcome_contact_path, :class => "btn btn-primary" %></p>
					</div>
				</div>
				<div class="fh5co-block to-animate" style="background-image: url(/assets/img_10.jpg);">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						<i class="fh5co-intro-icon icon-rocket"></i>
						<h2>Compete</h2>
						<p>Learnt? Then get ready to show what you got in various competitions hosted by us.</p>
						<p><%= link_to "Compete", welcome_competition_path, :class => "btn btn-primary" %></p>
					</div>
				</div>
			</div>
			<div class="row watch-video text-center to-animate">
				<span>Become a part of the revolution. <br>Learn and show the world what you've got!!</span>

				
			</div>
		</div>
	</section>



	<section id="fh5co-services" data-section="services" style="background-image: url(/assets/wood_dark_background_texture_55321_3840x2400.jpg);" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-left">
					<h2 class=" left-border to-animate">Services</h2>
					<div class="row">
						<div class="col-md-8 subtext to-animate">
						
						<%= link_to "Learn   more >>", welcome_workshop_path, :class => "btn btn-primary" %>
							
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 fh5co-service to-animate">
					<i class="icon to-animate-2 icomoon icon-html5"></i>
					<h3>
					<%= link_to "Web Development & Design", welcome_webdevelopment_path %>
						
					</h3>
					<p>Every single website, app, and piece of software you work on daily was created by a developer, from Snapchat and Instagram to Buzzfeed and CNN.com. Developers love to dream up a crazy idea or identify a BIG problem, and then come up with an elegant solution.

					If you like to make things: to build furniture, knit cozy sweaters, throw a ceramic mug, then you will love learning how to take your crazy creative vision and build it into a real-live interactive web application.

					</p>
				</div>
				<div class="col-md-6 col-sm-6 fh5co-service to-animate">
					<i class="icon to-animate-2 icon-layers2"></i>
					<h3><%= link_to "Robotics", welcome_robotics_path %></h3>
					<p>Today's young people are immersed in technology, but the most of that technology is intangible and difficult to conceptualize.By building with robots, students are able to create their own devices and gadgets that interact with the world.
					 This is a profound and empowering experience, which greatly impacts students. These students learn that they can control the world around them by building machines.This instills confidence in students. Specifically, it instills technological competence.</p>
				</div>

			
				<div class="col-md-6 col-sm-6 fh5co-service to-animate">
					<i class="icon to-animate-2 icomoon icon-android"></i>
					<h3><%= link_to "App Development", welcome_android_path %></h3>
					<p>We are in an era where Google’s Android operating system has penetrated the nook and corner of the world. When it comes to mobile, a lot of people think Apple (or iOS) reigns supreme. But you’re not most people. You know better. You might know that Android has more of the mobile market share than iOS–more than 80% of the global mobile market share to be exact. And you probably also know this means the Google-maintained open-source OS is on the rise when it comes to jobs, pay and Google Play. And we’ve got an Android skill path to help you navigate what to learn and where to start.</p>
				</div>
				<div class="col-md-6 col-sm-6 fh5co-service to-animate">
					<i class="icon to-animate-2 icon-monitor"></i>
					<h3><%= link_to "Ethical Hacking", welcome_hacking_path %></h3>
					<p>Learning how to hack helps information security professionals implement the strongest possible security practices. It’s as much about finding and fixing security vulnerabilities as it is anticipating them. As you learn more about the methods hackers use to infiltrate systems, you’ll be able to preemptively resolve issues; if you don’t understand how black hat hackers could get in to your systems, you’re going to have a hard time securing them.</p>
				</div>
				
			</div>
			<div class="row">
				<div class="col-md-12 text-center to-animate">
					<%= link_to "See more >>>", welcome_workshop_path, :class => "btn" %>
				</div>
			</div>

		</div>
	</section>
	

	<section id="fh5co-testimonials" data-section="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Testimonials</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Know from the experienced.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="box-testimony">
						<blockquote class="to-animate-2">
							<p>&ldquo;Some <br><br><br><br><br>text.&rdquo;</p>
						</blockquote>
						<div class="author to-animate">
							<figure><img src="/assets/person1.jpg" alt="Person"></figure>
							<p>
							Varun Sahil <span class="subtext">Creative Director</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box-testimony">
						<blockquote class="to-animate-2">
							<p>&ldquo;Some <br><br><br><br><br>long <br><br><br>text&rdquo;</p>
						</blockquote>
						<div class="author to-animate">
							<figure><img src="/assets/person2.jpg" alt="Person"></figure>
							<p>
							Sanjeev Soni <span class="subtext">Creative Director</span>
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="box-testimony">
						<blockquote class="to-animate-2">
							<p>&ldquo;Some <br><br><br><br><br>text. &rdquo;</p>
						</blockquote>
						<div class="author to-animate">
							<figure><img src="/assets/person3.jpg" alt="Person"></figure>
							<p>
							Third person<span class="subtext">Creative Director</span>
							</p>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</section>

	<section id="fh5co-work" data-section="work" style="background-image: url(/assets/23ade506010c8b402752bcd1e5db9bba.jpg);" data-stellar-background-ratio="0.5>
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Work</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>A few moments we captured.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
				<div class="col-md-4 col-sm-6 col-xxs-12">
					<%= link_to image_tag("1st.png", class: "fh5co-project-item  img-responsive"), image_path( "1st.png") ,  :class => " image-popup to-animate img-responsive" %>			
					
						<!-- <div class="fh5co-text">
						<h2>1st prize</h2>
						<span>Competition</span>
						</div> -->
				</div>

				

				<div class="col-md-4 col-sm-6 col-xxs-12">
					<%= link_to image_tag("2nd.png" , class: "fh5co-project-item  img-responsive"), image_path( "2nd.png") ,  class: " image-popup to-animate img-responsive"  %>
						
						<!--<div class="fh5co-text">
						<h2>2nd prize</h2>
						<span>Competition</span>
						</div> -->
					
				</div>

				<div class="clearfix visible-sm-block"></div>

				<div class="col-md-4 col-sm-6 col-xxs-12">
					<%= link_to image_tag("3rd.png" , class: "fh5co-project-item  img-responsive"), image_path( "3rd.png") ,  class: " image-popup to-animate img-responsive"  %>
						
						
						<!-- <div class="fh5co-text">
						<h2>3rd prize</h2>
						<span>Compitition</span>
						</div> -->
					</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xxs-12">
					<%= link_to image_tag("hand-gesture-2.png" , class: "fh5co-project-item  img-responsive"), image_path( "hand-gesture-2.png") ,  class: " image-popup to-animate img-responsive"  %>
						
						
						<!-- <div class="fh5co-text">
						<h2>Hand control Robo</h2>
						<span>Workshop</span>
						</div> -->
					</a>
				</div>
				
				<div class="clearfix visible-sm-block"></div>

				<div class="col-md-4 col-sm-6 col-xxs-12">
					<%= link_to image_tag("rf-control-2.jpg" , class: "fh5co-project-item  img-responsive"), image_path( "rf-control-2.jpg") ,  class: " image-popup to-animate img-responsive"  %>
						
						<!-- <div class="fh5co-text">
						<h2>Robot</h2>
						<span>Workshop</span>
						</div> -->
					</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xxs-12">
					<%= link_to image_tag("IMAG1150.jpg" , class: "fh5co-project-item  img-responsive"), image_path( "IMAG1150.jpg") ,  class: " image-popup to-animate img-responsive"  %>
						
						<!-- <div class="fh5co-text">
						<h2>Awards</h2>
						<span>Competition</span>
						</div> -->
					</a>
				</div>
				
				<div class="clearfix visible-sm-block"></div>

				

				
			</div>
			<div class="row">
				<div class="col-md-12 text-center to-animate">
					<div class="btn">See all >>></div>
				</div>
			</div>
		</div>
	</section>



	
	<section id="fh5co-about" data-section="about">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">About</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Fusion Conclave Team also helps students to bridge the gap between the theoretical and practical learning by providing them in depth knowledge of various machines. We believes in extensive full depth training to the students, on the practical projects they want to work upon as per their choice.</h3>
						</div>
					</div>
				</div>
			</div>
		
		</div>
		<div class="row">
				<div class="col-md-12 text-center to-animate">
					<div class="btn">[ Read more ]</div>
				</div>
			</div>
	</section>
	
	<section id="fh5co-counters" style="background-image: url(/assets/countbg.jpg);" data-stellar-background-ratio="0.5">
		<div class="fh5co-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center to-animate">
					<h2>Fun Facts</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="fh5co-counter to-animate">
						<i class="fh5co-counter-icon icon-briefcase to-animate-2"></i>
						<span class="fh5co-counter-number js-counter" data-from="0" data-to="10" data-speed="5000" data-refresh-interval="50">10</span>
						<span class="fh5co-counter-label">Courses offered</span>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="fh5co-counter to-animate">
						<i class="fh5co-counter-icon icon-cup to-animate-2"></i>
						<span class="fh5co-counter-number js-counter" data-from="0" data-to="8" data-speed="5000" data-refresh-interval="50">8</span>
						<span class="fh5co-counter-label">Competitions held<span>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="fh5co-counter to-animate">
						<i class="fh5co-counter-icon icon-people to-animate-2"></i>
						<span class="fh5co-counter-number js-counter" data-from="0" data-to="3000" data-speed="5000" data-refresh-interval="50">3000</span>
						<span class="fh5co-counter-label">Students Registered</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="fh5co-contact" data-section="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Get In Touch</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Have a query? <br>wanna join?</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-md">
				<div class="col-md-6 to-animate">
					<h3>Contact Info</h3>
					<ul class="fh5co-contact-info">
						
						<li><i class="icon-phone"></i> +91-9891906930 <br> 9630598193</li>
						<li><i class="icon-envelope"></i>info@uvsofts.com</li>
						<li><i class="icon-globe"></i> <a href="http://uvsofts.com/" target="_blank">uvsofts.com</a></li>
					</ul>
				</div>

				<div class="col-md-6 to-animate">
					<h3>Contact Form</h3>
					<div class="form-group ">
						<label for="name" class="sr-only">Name</label>
						<input id="name" class="form-control" placeholder="Name" type="text">
					</div>
					<div class="form-group ">
						<label for="email" class="sr-only">Email</label>
						<input id="email" class="form-control" placeholder="Email" type="email">
					</div>
					<div class="form-group ">
						<label for="phone" class="sr-only">Phone</label>
						<input id="phone" class="form-control" placeholder="Phone" type="text">
					</div>
					<div class="form-group ">
						<label for="message" class="sr-only">Message</label>
						<textarea name="" id="message" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
					</div>
					<div class="form-group ">
						<input class="btn btn-primary btn-lg" value="Send Message" type="submit">
					</div>
					</div>
				</div>

			</div>
		</div>
		
	</section>
	
	
	<footer id="footer" role="contentinfo">
		<a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
		<div class="container">
			<div class="">
				<div class="col-md-12 text-center">
					<p>&copy; UVsofts <br>Created by <a href="http://uvsofts.com/" target="_blank">uvsofts.com</a> </p>
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-youtube"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	
	


	
	<%= render 'alljs' %>

	</body>
</html>
