
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Workshop &mdash; Workshops</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Robotics Workshops" />



    
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/favicon.ico" type="image/x-icon" rel="icon" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    
    <%= render 'allcss' %>

    </head>
    

    <%= render 'navbar' %>

    <div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>ROBOTICS</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>

                                        <%= link_to 'RF control botrix' %>

                                    </td>
                                </tr>
                               <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>

                                        <%= link_to 'Gesture Detection Botrix' %>


                                    </td>
                                </tr><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>

                                        <%= link_to 'Surviliance botrix' %>


                                    </td>
                                </tr><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>

                                        <%= link_to 'Voice Control Robot' %>


                                    </td>
                                </tr><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>

                                        <%= link_to 'Mobile Control botrix' %>


                                    </td>
                                </tr><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>

                                        <%= link_to 'Swarm Botrix' %>


                                    </td>
                                </tr><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>

                                        <%= link_to 'Matbotrix' %>


                                    </td>
                                </tr><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>

                                        <%= link_to 'Sixth sense technology' %>


                                    </td>
                                </tr><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>

                                        <%= link_to 'Accelero-botrix' %>


                                    </td>
                                </tr><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>

                                        <%= link_to 'PCB & circuit design' %>


                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>COMPUTER WORLD</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>

                                        <%= link_to 'Web Development & design' %>


                                    </td>
                                </tr><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>

                                        <%= link_to 's/w Development' %>


                                    </td>
                                </tr><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>

                                        <%= link_to 'Computer H/W & Networking' %>


                                    </td>
                                </tr><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>

                                        <%= link_to 'Computer H/W & OS' %>


                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>

                                        <%= link_to 'C/C++ and data structure' %>


                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                            </span>MATLAB</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                            <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>

                                        <%= link_to 'Matbotrix' %>


                                    </td>
                                </tr><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>

                                        <%= link_to 'Image Processing' %>


                                    </td>
                                </tr><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>

                                        <%= link_to 'Spech Processing' %>


                                    </td>
                                </tr><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>

                                        <%= link_to 'Face Detection' %>


                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                            </span>ETHICAL HACKING</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Hacking Workshop</a>
                                    </td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="well">
                <h1>
                    WORKSHOP</h1>
                We provide you with courses such as:<br>
                ROBOTICS <br>
                WEB DESIGN <br>
                ANDROID <br>
                HACKING <br>
                etc. <br>

            </div>
            <div class="alert alert-info" role="alert">
 Check the menu on the left for a detailed explaination or contact us..
</div>
        </div>
    </div>
</div>


    

    <%= render 'footer' %>
    


    
    <%= render 'alljs' %>
    </body>
</html>
